html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-error {
    font-size: 0.8em;
    color: red;
}

.home-product-card {
    transition: transform 0.3s ease-in-out;
}

.home-product-card:hover {
    transform: scale(1.02, 1.02);
    cursor: pointer;
}

.product-card-link {
    color: grey;
}

.product-card-link:hover {
    color: red;
}