@model IEnumerable<Product>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container">
        <div class="row">
            @foreach (var product in Model)
            {
                <div class="p-2 col-3">
                    <div class="card h-100">
                        <img height="175px" class="card-img-top" src="~/images/products/@(product.Image ?? "default.png")" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">@product.Name</h5>
                            <p class="card-text">Price: @product.Price</p>
                            <a asp-action="Details" asp-route-id=@product.Id class="btn btn-primary">Детальніше</a>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
